<!DOCTYPE html>
<html lang="fr" class="h-100">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %} - Hakai kousen</title>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="shortcut icon" type="image/png" href="{{ asset('images/favicon.png') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <!--Lien à mettre pour pouvoir insérer des icones venant du site awesome-->
    {% block stylesheets %}{% endblock  %}

</head>

<body class="d-flex flex-column h-100">

    <header>
        {% set route = app.request.attributes.get('_route') %}
        <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-danger">
            <a class="navbar-brand" href="{{ path('home') }}"><img src="{{asset('images/logo.png')}}" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item{% if route == 'home' %} active{% endif %}">
                        <a class="nav-link" href="{{ path('home') }}">Accueil</a>
                    </li>
                    <li class="nav-item{% if route == 'rules' %} active{% endif %}">
                        <a class="nav-link" href="{{ path('rules') }}">Document</a>
                    </li>
                    <li class="nav-item{% if route == 'pokedex' %} active{% endif %}">
                        <a class="nav-link" href="{{ path('pokedex') }}">Pokédex</a>
                    </li>
                    <li class="nav-item{% if route == 'forum' %} active{% endif %}">
                        <a class="nav-link" href="{{ path('forum') }}">Forum</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    {% if app.user %}
                    <li class="nav-item{% if route == 'app_logout' %} active{% endif %}">
                        <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
                    </li>
                    <li class="nav-item{% if route == 'profil' %} active{% endif %}">
                        <a class="nav-link" href="{{ path('profil') }}">Profil</a>
                    </li>
                    {% else %}
                    <li class="nav-item{% if route == 'app_register' %} active{% endif %}">
                        <a class="nav-link" href="{{ path('app_register') }}">Inscription</a>
                    </li>
                    <li class="nav-item{% if route == 'app_login' %} active{% endif %}">
                        <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>

    {% for message in app.flashes('success') %}
        <div class="text-center" style="color:green;">{{ message }}</div>
    {% endfor %}

    <div class="container-fluid">
        {% block body %}{% endblock %}
    </div>

    <footer class="page-footer mt-auto font-small pt-4">


        <div class="container-fluid text-center text-md-left bg-danger">

            <div class="row">

                <div class="col-md-6 mt-md-3 mt-3">


                    <h5 class="my-3 text-uppercase">CONTACTEZ-NOUS :</h5>
                    <p>Pour plus d'info.</p>
                    <div class="block-social-links col-md-3 text-center my-4">
                        <ul class="social-links_footer">
                            <a href="https://www.facebook.com" target="_blank">
                                <i class="fab fa-facebook" aria-hidden="true"></i>
                            </a>

                            <a href="https://www.discord.com/" target="_blank">
                                <i class="fab fa-discord" aria-hidden="true"></i>
                            </a>
                            <a href="https://www.twitter.com/" target="_blank">
                                <i class="fab fa-twitter" aria-hidden="true"></i>
                            </a>
                        </ul>
                    </div>

                </div>

                <div id="footer-copyrights" class="dropup col-md-3 ml-auto">
                    <div class="container">
                        <div class="row">

                            <div class="copyright-img my-2 ml-auto text-center ">
                                <img src="/images/logo.png" class="img-fluid" alt="Hakai Kousen"></img>
                            </div>

                            <div class="copyright-txt ml-auto text-center rem-2">Copyright © 2020 Hakai Kousen
                                <br>
                                <p><small>Réalisé par Yoru Le Chroniqueur - J. RICHARD</small></p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="{{ asset('js/jquery-3.4.1.slim.min.js') }}"></script>
    <script src="{{ asset('js/popper.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    {% block javascripts %}{% endblock %}
</body>

</html>