<!DOCTYPE html>
<html lang="fr" class="h-100">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %} - Hakai kousen</title>
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="shortcut icon" type="image/png" href="{{ asset('images/favicon.png') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    {% block stylesheets %}{% endblock  %}

</head>

<body class="d-flex flex-column h-100">

    <div class="lbande"></div>
    <div class="rbande"></div>

    <header>
        {% set route = app.request.attributes.get('_route') %}

        <nav id="main-navbar" class="navbar navbar-expand-sm navbar-dark bg-danger">
            <a class="navbar-brand" href="{{ path('home') }}"><img src="{{asset('images/logo.png')}}" alt=""></a>
            <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse"
                data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link {% if route == 'home' %} active{% endif %}"
                            href="{{ path('home') }}">Accueil</a>

                    <li class="nav-item{% if route == 'rules' %} active{% endif %}">
                        <a class="nav-link" href="{{ path('rules') }}">Document</a>
                    </li>


                    <li class="nav-item{% if route == 'pokedex' %} active{% endif %}">
                        <a class="nav-link" href="{{ path('pokedex') }}">Pokédex</a>
                    </li>

                    <li class="nav-item{% if route == 'forum' %} active{% endif %}">
                        <a class="nav-link" href="{{ path('forum') }}">Forum</a>
                    </li>
                </ul>

                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">

                    {% if app.user %}

                        <li class="nav-item{% if route == 'app_logout' %} active{% endif %}">
                            <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
                        </li>

                        <li class="nav-item{% if route == 'profil' %} active{% endif %}">
                            <a class="nav-link" href="{{ path('profil') }}">Profil</a>
                        </li>

                        {% else %}

                        <li class="nav-item{% if route == 'app_register' %} active{% endif %}">
                            <a class="nav-link" href="{{ path('app_register') }}">Inscription</a>
                        </li>

                        <li class="nav-item{% if route == 'app_login' %} active{% endif %}">
                            <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
                        </li>

                    {% endif %}

                </ul>
            </div>
        </nav>
    </header>

    <div class="container-fluid">

        {% block body %}{% endblock %}

    </div>

    <footer class="page-footer mt-auto font-small bg-danger py-4 container-fluid" id="main-footer">

        <div class="row">

            <div class="col-12 mb-4 mb-xl-0 col-xl-3 text-center">
                <h2 class="text-light h4 text-uppercase">Nous retrouver sur</h2>
                <p class="bg-light d-inline-block p-2 rounded-lg">
                    <a href="#" class="h2 mx-2 facebook"><i class="fab fa-facebook" aria-hidden="true"></i></a>
                    <a href="#" class="h2 mx-2 discord"><i class="fab fa-discord" aria-hidden="true"></i></a>
                    <a href="#" class="h2 mx-2 twitter"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                </p>
            </div>

            <div class="col-12 col-xl-3 offset-xl-6 text-center">
                <p class="my-1">Copyright</p>
                <p class="my-1">Réalisé par Yoru Le Chroniqueur - J. RICHARD</p>
            </div>

        </div>

    </footer>

    <script src="{{ asset('js/jquery-3.4.1.slim.min.js') }}"></script>
    <script src="{{ asset('js/popper.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>

    {% block javascripts %}{% endblock %}

</body>

</html>