{% extends "base.html.twig" %}

{% block title %}   Sujet   {% endblock %}

{% block body %}

    <div class="row">
        <h1 class="h2 col-8 offset-2 mt-5 text-center"> Sujet de vue </h1>
    </div>

    <div class="row">
        <p class="text-danger h2 col-8 offset-2 mt-5 text-center">
            Liste des sujet du forum :  {{ forum.title }}           {# Affichage du titre du forum #}
        </p>
    </div>

    <div class="row">

        {% for subject in forum.subjects %}                         {# Boucle pour afficher les subject title, author ect... #}

            <div class="col-5 offset-3 text-center my-8">
                <p class="bg-danger text-light text-left p-3">
                    <a href="{{path('MessageSubject', {slug: subject.slug })}}" class="bg-danger text-light"> {{ subject.title }}</a>
                    <br>
                </p>
            </div>

            <div>
                <p class="text-danger text-right text-center my-8">
                    Par {{ subject.author.pseudonyme }} 
                    <br>
                    le {{ subject.publicationDate|date("m/d/Y") }}
                </p>
            </div>

            <br>

        {% endfor %}

    </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3 py-5">
                    {{ knp_pagination_render(subjetPage) }}         {# Affichage de la pagination #}
                </div>
            </div>
        </div>
    </div>

{% endblock %}